/*
* Firebase Admin Styles
* By: Circle Framework Grid
*/

:root{
	--color:          #37474f;
	--color-nav:      #37474f;
	--color-subtle:   hsl(0,0%,44%);
	--color-strong:   hsl(0,0%,11%);
	--color-link:     #4db6ac;

	--color-border:   #b8b8b8;
	--color-bg:       #fff;


	--color-menu:		#d4d6d7;
	--color-menu-bg:	#ececec;

	--color-accent:   black; /* Fallback */
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
.columns-1, .columns-2, .columns-3, .columns-4, .columns-5, .columns-6, .columns-7, .columns-8, .columns-9, .columns-10, .columns-11, .columns-12 {
	margin: 0;
	width: 100%;
	float: left;
	box-sizing: border-box;
}
@media (min-width: 400px) {
	.container { width: 100%; padding: 0; }
}
@media (min-width: 550px) {
.container { width: 100%; }

.columns-1  { width: 8.33333333333%; }
.columns-2  { width: 16.6666666667%; }
.columns-3  { width: 25%;            }
.columns-4  { width: 33.3333333333%; }
.columns-5  { width: 41.6666666667%; }
.columns-6  { width: 50%;            }
.columns-7  { width: 58.3333333333%; }
.columns-8  { width: 66.6666666667%; }
.columns-9  { width: 75%;            }
.columns-10 { width: 83.3333333333%; }
.columns-11 { width: 91.6666666667%; }
.columns-12 { width: 100%;           }

.1-of-3-columns { width: 33.3333333333%; }
.2-of-3-columns { width: 66.6666666667%; }
.1-of-2-columns { width: 50%;            }

.offset-1-columns  { margin-left: 8.33333333333%; }
.offset-2-columns  { margin-left: 16.6666666667%; }
.offset-3-columns  { margin-left: 25%;            }
.offset-4-columns  { margin-left: 33.3333333333%; }
.offset-5-columns  { margin-left: 41.6666666667%; }
.offset-6-columns  { margin-left: 50%;            }
.offset-7-columns  { margin-left: 58.3333333333%; }
.offset-8-columns  { margin-left: 66.6666666667%; }
.offset-9-columns  { margin-left: 75%;            }
.offset-10-columns { margin-left: 83.3333333333%; }
.offset-11-columns { margin-left: 91.6666666667%; }

.offset-1-of-3-columns { margin-left: 33.3333333333%; }
.offset-2-of-3-columns { margin-left: 66.6666666667%; }
.offset-1-of-2-columns { margin-left: 50%;            }

}

html { font-size: 62.5%; }
body {
	margin: 0;
	font-size: 14px;
	line-height: 1.6;
	font-family: system,-apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,"Segoe UI",sans-serif;
	color: var(--color-nav);
	background-color: var(--color-bg);
}
body, html, main, section.content{
  height: 100%;
  margin: 0;
  padding: 0;
}

#mainmenu{
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #adabad;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(60,71,76,0.2) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(60,71,76,0.2)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(60,71,76,0.2) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(60,71,76,0.2) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(60,71,76,0.2) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #d1d0d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3c474c', GradientType=0 );
}

#mainmenu .icons{
  padding: 6px;
}

#mainmenu .icon{
  display: inline-block;
  font-size: 20px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  cursor: default;
}

.logo{
  max-width: 100%;
  max-height: 100%;
}

#adminmenumain{
  height: calc(100% - 36px);
  float: left;
  width: 200px;
  min-width: 100px;
  max-width: 500px;
  background-color: var(--color-menu-bg);
  border-right: 1px solid var(--color-border);
}

#admin-menu {
	position: relative;
	float: left;
	width: 100%;
	z-index: 1100;
	overflow: auto;
	color: var(--color-nav);
}

.admin-content{
  height: calc(100% - 36px);
	min-height: calc(100% - 36px);
	color: #434A50;
  overflow: auto;
}

.admin-menu-main{
  padding-top: 10px;
}
.menu-item{
  color: #000;
  cursor: default;
}
.menu-item.active{
  background: #649ce1;
  color: #fff;
}
.menu-item ins{
  font-size: 14px;
  float: left;
  line-height: 1;
  width: 28px;
  height: 28px;
  text-align: center;
}
.menu-item i{
  font-size: 10px;
  line-height: 1;
  margin: 7px 0;
  padding: 2px;
  display: inline-block;
  background: #3c474c;
  color: #fff;
  border-radius: 3px;
}
.menu-item.active i{
  background: #fff;
  color: #3c474c;
}
.menu-name{
  padding: 7px 0;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.2rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.8rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.5rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3.0rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.5rem; }
}

p { margin-top: 0; }

a {
  color: var(--color-link);
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
a:hover { color: var(--color-link); }

#admin-menu a {
  color: var(--color-menu);
}
#admin-menu a:hover { color: var(--color-link); }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 31px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#556167),color-stop(100%,#3c474c));
  background-image: -webkit-linear-gradient(top,#556167 0,#3c474c 100%);
  background-image: linear-gradient(to bottom,#556167 0,#3c474c 100%);
  border: 1px solid transparent;
  border-color: #3c474c #242d31 #242d31;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  cursor: default;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.pagination li a:hover {
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 28px;
  width: 100%;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  color: #3c474c;
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 15px 15px 0 transparent,-15px -15px 0 transparent,-15px 15px 0 transparent,15px -15px 0 transparent;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
	 -moz-appearance: none;
		  appearance: none; }
textarea {
  width: 100%;
  min-height: 100px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #6db3fd;
  box-shadow: 3px 3px 0 #6db3fd,-3px -3px 0 #6db3fd,-3px 3px 0 #6db3fd,3px -3px 0 #6db3fd;
  outline: none;
  transition: box-shadow .1s;
}
legend {
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0 2rem;
  font-size: 90%;
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 5px;
  white-space: normal;
  background: #3c474c;
  color: #80cbc4;
  border: 1px solid #3c474c;
  border-radius: 2px;
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
}

.result-wrap{
  height: calc(100% - 48px);
  padding-bottom: 10px;
}
.result{
  display: block;
  padding: 1rem 1.5rem;
  margin: 0 8px;
  white-space: normal;
  background: #3c474c;
  color: #80cbc4;
  border: 1px solid #3c474c;
  border-radius: 4px;
  max-height: 100%;
  overflow: auto;
}

::-webkit-scrollbar-track {
    background-color: red;
    border-left: 1px solid #ccc;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 0;
}
pre,
blockquote,
dl,
figure,
table,
p,
form {
  margin: 0;
  margin-bottom: 10px;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pagination li{
  display: inline; }
.pagination li a, .pagination li span{
  padding: 0.6rem 1rem;
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 4px; }
.full-width {
  width: 100%;
  box-sizing: border-box; }
.max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.pull-right {
  float: right; }
.pull-left {
  float: left; }

.list-inline > li{
  display: inline-block;
  padding: 0 0.5rem;
}


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.clearfix:before{
  content: "";
  display: table;
}
.container:after,
.row:after,
.clearfix:after,
.form:after,
.form-group:after,
.clearfix {
  content: "";
  display: table;
  clear: both;
}


/* Loader
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  border-radius: 15px;
  box-shadow: 0 2px 0 0 #649ce1;
  -ms-animation: uil-ring-anim .6s linear infinite;
  -moz-animation: uil-ring-anim .6s linear infinite;
  -webkit-animation: uil-ring-anim .6s linear infinite;
  -o-animation: uil-ring-anim .6s linear infinite;
  animation: uil-ring-anim .6s linear infinite;
  margin: auto;
}

.query-box{
  padding: 8px 8px;
  margin-bottom: 0;
  height: 48px;
  min-height: 48px;
}
.query-box button{
  margin-bottom: 0;
  vertical-align: middle;
  height: 100%;
  min-height: 32px;
  max-height: 80px;
}

#query{
  width: calc(100% - 85px);
  min-height: 32px;
  height: 100%;
  padding: 5px 10px;
  line-height: 1.6;
  font-size: 13px;
  color: #fff;
  background-color: #3c474c;
  border: none;
  outline: none;
  vertical-align: middle;
  resize: none;
  box-shadow: none;
}

.output{
  margin-top: 44px;
}

.create{
  background: var(--color-menu-bg);
}
.create .form{
  padding: 20px;
}
.create .control-label {
  font-size: 12px;
}

label{
  height: 28px;
  padding: 4px 0px;
}

.form-group{
  margin-bottom: 14px;
}

.menu-overlay{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #ececec;
  z-index: 1200;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
