<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base href="local">
	<title>Firbase Admin</title>
	<link rel="stylesheet" type="text/css" href="css/angular-resizable.css">
	<link rel="stylesheet" type="text/css" href="css/json-formatter.css">
	<link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script>
		const electron = require('electron').remote
		const ipc = require('electron').ipcRenderer
		const firebase = require("firebase")
		const writeFile = require('write-file-atomic')
		window.$ = window.jQuery = require('jquery')
	</script>
</head>
<body ng-app="fba" ng-controller="mainController" class="{{os}} index">
	<div id="mainmenu">
		<div class="icons">
			<div class="icon" ng-click="listShown = true;">
				<img class="logo" src="img/logo.svg">
				<span>&#9660;</span>
			</div>
			<div class="icon" ng-click="create()">
				<img class="logo" src="img/add.svg">
				<span>&#9660;</span>
			</div>
		</div>
		<div class="connection-list" ng-show="listShown" ng-click="listShown = false;">
			<ul>
				<li ng-repeat="con in config.connections">{{con.serviceAccount.projectId}}</li>
			</ul>
		</div>
	</div>
	<div id="adminmenumain" resizable r-directions="['right']">
		<aside id="admin-menu" class="hidden-print">
			<ul class="admin-menu-main">
				<li class="menu-item" ng-repeat="collection in collections track by $index" ng-class="{'active': activeUrl == collection}">
					<ins><i class="ion-plus"></i></ins>
					<div class="menu-name" ng-click="get(collection)">{{collection}}</div>
				</li>
				<!-- <ul class="sub-menu">
					<li class="menu-item"><a href="#"><div class="menu-name">Sub</div></a></li>
				</ul> -->
		</aside>
		<div class="menu-overlay"><div class="loader"></div></div>
	</div>
	<div class="admin-content">
		<main id="main" ng-view></main>
	</div>
</body>
<script type="text/javascript" src="js/jquery.gritter.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-resizable.min.js"></script>
<script type="text/javascript" src="js/json-formatter.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/routes.js"></script>
<script>
	// You can also require other files to run in this process
	require('./renderer.js')
</script>
</html>
