<section ng-show="online" class="container content">
	<form class="query-box" resizable r-directions="['bottom']">
		<textarea id="query" placeholder="Query" ng-model="query"></textarea>
		<button type="submit" class="button" ng-click="run()">Run</button>
	</form>
	<div class="result-wrap">
		<div class="result-mode">
			<div class="icon">Tree</div>
			<div class="icon">View</div>
			<div class="icon">Edit</div>
		</div>
		<json-formatter open="1" json="result" class="result json-formatter-dark"></json-formatter>
		<div class="copy-wrap" ng-click="copy()">
			<img class="copy" src="img/copy.svg">
			<div class="copied" ng-show="copiedNow">copied</div>
		</div>
	</div>
</section>
<section ng-hide="online" class="content offline">
	<div class="offline-wrap">
		<img class="logo" src="img/logo.svg">
		<div>Turn on Internet!<br>or<br>Create new connection</div>
	</div>
</section>