<section ng-show="online" class="container content">
	<form id="query-box" class="query-box" resizable r-directions="['bottom']">
		<textarea id="query" placeholder="Query" ng-model="query"></textarea>
		<button type="submit" class="button" ng-click="run()">Run</button>
	</form>
	<div class="result-wrap">
		<div class="result-mode">
			<div class="icon" ng-click="changeView('tree')" ng-class="{'active': view.tree}">Tree</div>
			<div class="icon" ng-click="changeView('code')" ng-class="{'active': view.code}">Json</div>
			<div class="icon" ng-click="changeView('raw')" ng-class="{'active': view.raw}">Raw</div>
		</div>
		<div class="result-view tree" ng-show="view.tree">
			<div class="result" ng-show="collection.name">
				<ul class="result-menu-main">
					<li class="menu-item" ng-include="'templates/jsonTree.html'" ng-class="[collection.open ? 'open': 'closed', {'leaf': collection.leaf}]"></li>
				</ul>
			</div>
			<div class="result" ng-hide="collection.name">No Data</div>
		</div>
		<div class="result-view code" ng-show="view.code">
			<div class="result">
				<ui-codemirror ui-codemirror-opts="codeOptions" ng-model="codeResult" ui-refresh="view" ng-right-click="rightClick()"></ui-codemirror>
			</div>
		</div>
		<div class="result-view raw" ng-show="view.raw">
			<div class="result">{{result}}</div>
		</div>
		<div class="copy-wrap" ng-click="copy()">
			<img class="copy" src="img/copy.svg">
			<div class="copied" ng-show="copiedNow">copied</div>
		</div>
	</div>
</section>
<section ng-hide="online" class="content offline">
	<div class="offline-wrap">
		<img class="logo" src="img/logo.svg">
		<div>Turn on Internet!<br>or<br>Create new connection</div>
	</div>
</section>